header {
  background: url(../../assets/imgs/bg-waves.gif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0px;

  cursor: default;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0.212);
  backdrop-filter: blur(5px);
  height: 100vh;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-top: 5rem;
}

.text-container #ola {
  font-family: "Lobster", sans-serif;
  color: #bde038;
  font-size: 3.7rem;
  margin-bottom: 0px;
}
.text-container #meChamo {
  font-family: "Montserrat", sans-serif;
  color: #bde038;
  font-size: 2.8rem;
  margin-bottom: 0px;
}
.text-container #luizFilipe {
  font-family: "Bebas Neue", sans-serif;
  color: #a3ab78;
  font-size: 3.5rem;
  margin: 0 0 0 8rem;
}

.container-center {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 7rem;
  margin: auto;
  width: fit-content;

  font-family: "Montserrat";
  color: #a3ab78;
}

.container-center #umPoucoMais {
  margin-left: 10px;
}
.container-center #devWeb {
  font-size: 5rem;
}
.container-center #slogan {
  font-size: 1.5rem;
  text-align: center;
}
